{##
/**
 * @category   MonolithForge/OpenCart/Bootstrap4ThemeBasic
 * @package    opencart-bootstrap4-theme-basic
 * @author     dev@monolithforge.com
 * @copyright  2018 Monolith Forge, LLC
 * @license    https://www.monolithforge.com/license/opencart-bootstrap4-theme-basic.txt
 * @version    3.0.2.0-bootstrap4-theme-basic-a7-dev
 */
#}
{{ header }}{{ column_left }}{{ column_right }}
<div class="container">{{ content_top }}
  <h2>{{ heading_title }}</h2>
  <p>{{ error }}</p>
  {{ content_bottom }}
</div>
{{ footer }}