{##
/**
 * @category   MonolithForge/OpenCart/Bootstrap4ThemeBasic
 * @package    opencart-bootstrap4-theme-basic
 * @author     dev@monolithforge.com
 * @copyright  2018 Monolith Forge, LLC
 * @license    https://www.monolithforge.com/license/opencart-bootstrap4-theme-basic.txt
 * @version    3.0.2.0-bootstrap4-theme-basic-a7-dev
 */
#}
{% if success %}
<form id="cardinity-3ds-form" name="ThreeDForm" method="POST" action="{{ url }}">
	<input type="hidden" name="PaReq" value="{{ PaReq }}" />
	<input type="hidden" name="TermUrl" value="{{ TermUrl }}" />
	<input type="hidden" name="MD" value="{{ MD }}" />
</form>
<script type="text/javascript"><!--
$('#cardinity-3ds-form').submit();
//--></script>
{% endif %}
{% if redirect %}
<script type="text/javascript"><!--
location = '{{ redirect }}';
//--></script>
{% endif %}