{##
/**
 * @category   MonolithForge/OpenCart/Bootstrap4ThemeBasic
 * @package    opencart-bootstrap4-theme-basic
 * @author     dev@monolithforge.com
 * @copyright  2018 Monolith Forge, LLC
 * @license    https://www.monolithforge.com/license/opencart-bootstrap4-theme-basic.txt
 * @version    3.0.2.0-bootstrap4-theme-basic-a7-dev
 */
#}
{{ header }}
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      {% for breadcrumb in breadcrumbs %}
      <li class="breadcrumb-item"{% if loop.last %} aria-current="page"{% endif %}><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
      {% endfor %}
    </ol>
  </nav>
  {% if success %}
  <div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> {{ success }}</div>
  {% endif %}
  {% if error_warning %}
  <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}</div>
  {% endif %}
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-sm-9' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">{{ content_top }}
      <h1>{{ heading_title }}</h1>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <td class="text-left">{{ column_type }}</td>
              <td class="text-left">{{ column_digits }}</td>
              <td class="text-right">{{ column_expiry }}</td>
            </tr>
          </thead>
          <tbody>
          
          {% if cards %}
          {% for card in cards %}
          <tr>
            <td class="text-left">{{ card.type }}</td>
            <td class="text-left">{{ card.digits }}</td>
            <td class="text-right">{{ card.expiry }}</td>
            <td class="text-right"><a href="{{ delete }} {{ card.card_id }}" class="btn btn-danger">{{ button_delete }}</a></td>
          </tr>
          {% endfor %}
          {% else %}
          <tr>
            <td class="text-center" colspan="5">{{ text_empty }}</td>
          </tr>
          {% endif %}
            </tbody>
          
        </table>
      </div>
      <div class="row">
        <div class="col-sm-6 text-left">{{ pagination }}</div>
        <div class="col-sm-6 text-right">{{ results }}</div>
      </div>
      <div class="buttons clearfix">
        <div class="pull-left"><a href="{{ back }}" class="btn btn-secondary">{{ button_back }}</a></div>
        <div class="pull-right"><a href="{{ add }}" class="btn btn-primary">{{ button_new_card }}</a></div>
      </div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}